.mypage
  .mypage__header
    プロフィール
  - if user_signed_in?
    .mypage__edit
      = link_to '編集する',"/users/#{current_user.id}/edit"
  .mypage__main
    .mypage__main__top
      .mypage__main__top__icon
        = image_tag "#{@picture}", class:"mypage__main__top__icon__box"
      .mypage__main__top__nickname
        = @nickname
    .mypage__main__center
      .mypage__main__center__introduce
        .mypage__main__center__introduce__box
          = @introduce
           
    .mypage__main__under
      .mypage__main__under__head
        投稿一覧
      .mypage__main__under__posts
    = render partial: 'posts/post' 
  .mypage__bottom
    .mypage__bottom__top
      = link_to 'トップページに戻る', root_path 
  

      

