.mainbox
  .mainbox__top
    .mainbox__top__left
      = link_to "ボドゲの森", root_path,class:"mainbox__top__left__name"
    .mainbox__top__centar
      = form_with(url: search_posts_path,local: true, method: :get) do |s|
        .mainbox__top__center__serch
          = s.text_field :keyword, placeholder: "タイトル入力",class:"mainbox__top__center__serch__form"
          = s.submit "検索する",class:"mainbox__top__center__serch__button"
          

    .mainbox__top__right
      %ul.mainbox__top__right__nav
        - if user_signed_in?
          %li.mainbox__top__right__nav__post
            = link_to '投稿する', "posts/new"
          %li.mainbox__top__right__nav__mypage
            = link_to 'プロフィール', "/users/#{current_user.id}"
          %li.mainbox__top__right__nav__logout
            = link_to "ログアウト",destroy_user_session_path, method: :delete 
        - else 
          %li.mainbox__top__right__nav__new
            = link_to '新規登録', new_user_registration_path
          %li.mainbox__top__right__nav__login
            = link_to 'ログイン',new_user_session_path




