.content
  - @posts.each do |post|
    .content__box
      .content__box__left__icon
        = image_tag "#{post.user.image}",class:"content__box__left__icon__image"
      .content__box__right
        .content__box__right__top
          = link_to post.title,post_path(post.id)   
        .content__box__right__bottom
          .content__box__right__bottom__user
            = link_to post.user.nickname,"/users/#{post.user.id}"

          .content__box__right__bottom__tag  
          .content__box__right__bottom__date
            = post.created_at.strftime("%Y-%m-%d %H:%M")
        .content__box__right__bottom__user
          - if user_signed_in? && current_user.id == post.user_id
            .content__box__right__bottom__user__edit  
              = link_to '編集',edit_post_path(post.id)
            .content__box__right__bottom__user__delete
              = link_to '削除',post_path(post.id),method: :delete
