.wapper
  = render partial: 'posts/header'
.show
  .show__content
    .show__content__in
      .show__content__in__top
        .show__content__in__top__name
          = @post.user.nickname
        .show__content__in__top__date
          = @post.created_at.strftime("%Y-%m-%d %H:%M")
      .show__content__in__title
        = @post.title
      .show__content__in__center
        .show__content__in__center
          タグ
      .show__content__in__main
        .show__content__in__main__text
          = simple_format @post.content
    - if user_signed_in?
      .show__content__comment
        = form_with(model:[@post, @comment], local: true) do |form|
          .show__content__comment__box
            = form.text_area :text, placeholder: "コメントする", rows: "2",class:"show__content__comment__box__text"
            = form.submit "送信",class:"show__content__comment__box__submit"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    .show__content__display
      .show__content__display__header
        コメント一覧
      -if @comments
        .show__content__display__all
          - @comments.each do |comment|
            .show__content__display__all__box
              .show__content__display__all__box__left
                = comment.user.nickname 
              .show__content__display__all__box__right
                = comment.text
            

    

      

        
        
    
    



  